body {
    background-color: #f3f4f4;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.white {
    color: #fff;
}

.white-90 {
    color: #e5e5e5;
}

.gray-90 {
    color: #c9c9ca;
}

.c-gray {
    color: #9b9b9c;
}

.black-1 {
    color: #232a30;
}
.black-2{
    columns: #333;
}

.blue-1 {
    color: #3580f6;
}

/* 按照屏幕宽度 750px 计算 1vw = 7.5px */
.f-60 {
    font-size: 8vw;
}

.f-54 {
    font-size: 7.2vw;
}

.f-40 {
    font-size: 5.3vw;
}

.f-34 {
    font-size: 4.5vw;
}

.f-32 {
    font-size: 4.3vw;
}

.f-30 {
    font-size: 4vw;
}

.f-28 {
    font-size: 3.7vw;
}

.f-26 {
    font-size: 3.5vw;
}

.f-24 {
    font-size: 3.2vw;
}

.f-20 {
    font-size: 2.7vw;
}

.f-22 {
    font-size: 2.9vw;
}

.f-weight {
    font-weight: bold;
}

.f-w-200{
    font-weight: 200;
}

.text-center {
    text-align: center;
}

.fl-en {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fl-ar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.fl-wrap {
    flex-wrap: wrap;
}

.j-s-b {
    justify-content: space-between;
}

.j-s-c {
    justify-content: center;
}

.j-s-a {
    justify-content: space-around;
}

.footer {
    position: fixed;
    width: 100vw;
    height: 16vw;
    background-color: #fff;
    bottom: 0;
    left: 0;
    z-index: 10;
    border-top: solid 1px #f3f4f4;
}

.footer a {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer a img {
    width: 4.3vw;
    height: 4.3vw;
}

.footer a p {
    font-size: 3.2vw;
    margin-top: 1.6vw;
}

.ml-auto {
    margin-left: auto;
}


.ml-12 {
    margin-left: 1.6vw;
}
.ml-24 {
    margin-left: 3.2vw;
}

.mt-12 {
    margin-top: 1.6vw;
}

.mt-30{
    margin-top: 4vw;
}

.mt-40 {
    margin-top: 5.3vw;
}
.m-center{
    margin-left: auto;
    margin-right: auto;
}

.bg-white {
    background-color: #fff;
}


/* 设置宽度和高度 */
.flex-1 {
    flex: 1;
}

/* 45 = 6* 7.5 */
.w-45 {
    width: 6vw;
}

.w-per-100 {
    width: 100%;
}

.h-per-100 {
    height: 100%;
}

.h-45 {
    height: 6vw;
}
.h-90{
    height: 12vw;
}

.vertical-align-middle {
    vertical-align: middle;
}

/* 内边距 */
.pad-15 {
    padding: 2vw;
}

.pad-hor-30 {
    padding-left: 4vw;
    padding-right: 4vw;
}

.pad-ver-15 {
    padding-top: 2vw;
    padding-bottom: 2vw;
}