/* 首页 的样式*/
.index-content {
    background-color: #f3f4f4;
    width:100vw;
    padding-top: 2.7vw;
    padding-bottom: 26.7vw;

}

.index-header {
    background-color: #3580f6;
    width:calc(100vw - 5.3vw); 
    margin: auto;
    border-radius: 2.7vw;
    height:32vw;
    padding-left: 6.7vw;
    padding-top: 6.7vw;
    box-sizing: border-box;
    position: relative;
}

.down-icon {
    width: 3.1vw;
    height: 1.7vw;
}

.show-btn {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4vw;
    width: 20vw;
    height: 6.7vw;
    text-align: center;
    line-height: 6.7vw;
    letter-spacing: 0.3vw;
}

.add-btn {
    width: 10.7vw;
    height: 10.7vw;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    top: 10.7vw;
    right: 8vw;
}

.add-btn img {
    width: 4.7vw;
    height: 4.7vw;
}

/* 首页导航 */
.index-nav {
    width:calc(100vw - 5.3vw); 
    height: 13.3vw;
    display: flex;
    align-items: center;
    margin: auto;

}

.index-nav p {
    margin-right: 6vw;

}

.source {
    width: 12.1vw;
    height: 9.5vw;
}

.block-list {
    width:calc(100vw - 5.3vw); 
    margin: auto;
    justify-content: space-between;
}

.block-icon {
    width: 45.3vw;
    height: 29.3vw;
    background-color: #fff;
    border-radius: 2.7vw;
    margin-top:3.3vw;
    box-sizing: border-box;
    padding: 4vw;
}

.close-btn {
    width: 10.7vw;
    height: 10.7vw;
    border-radius: 50%;
    background-color: #f0f1f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn img {
    width: 4.4vw;
    height: 4.4vw;
}

.is-open{
    background-color: #fff;
    border: 1px solid #3580f6;
}